ENTORNO = prod
PUERTO = 8080
DB_USER = lucasm
DB_PASSWORD = 
DB_HOST_LOCAL = localhost:27017
DB_HOST_CLOUD = cluster0.nk3copg.mongodb.net
DB_NAME = ecommerce
SESSION_SECRET = 
MODO = CLUSTERa
MAIL = 
PASSW = 
TWILIOSID = 
TWILIOTOKEN = 
TWILIOPHONE = 
TWILIOWPP = 
MYPHONE = 
SESSION_TIME = 600000