<label class="form-label textColorSecondary" id="email">Email: <%= email %></label> </br>
<label class="form-label textColorSecondary" id="nombre">Nombre: <%= nombre %></label></br>
<label class="form-label textColorSecondary" id="Avatar">Avatar: <img height="30px" src=<%= avatar %> alt=<%= nombre %> /></label>